<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="keywords" content="Off Shoulder Round Neck Short Sleeve Stretch Loose T-Shirt on sale at wholesale price,Red, S, Buy best ,  at newchic.com">
    <meta name="description" content="Off Shoulder Round Neck Short Sleeve Stretch Loose T-Shirt, ">
    <title>YOINS</title>
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
  </head>
  <body>
    <div class="container product_container">
      <header class="header">
        <nav><a href="javascript:void(0)" class="nav_item nav_item_1"><span class="icon icon_menu"></span></a><a href="/person.html" class="nav_item nav_item_2"><span class="icon icon_person"></span></a><a href="/" class="logo"></a><a href="/wish.html" class="nav_item nav_item_3"><span class="icon icon_wish"></span></a><a href="/bag.html" class="nav_item nav_item_4"><span class="icon icon_bag"><small>99</small></span></a>
        </nav>
      </header>
      <div class="main">
        <div class="breadcrumb">
          <ul>
            <li><a href="/">Home</a></li>
            <li>&raquo;</li>
            <li><a href="/">Women</a></li>
            <li>&raquo;</li>
            <li><a href="/">Dress</a></li>
            <li>&raquo;</li>
            <li><a href="/">Long Sleeve Dresses</a></li>
          </ul>
        </div>
        <div class="product_swipe_wrap">
          <div class="swiper-container product_swipe">
            <ul class="swiper-wrapper">
              <li class="swiper-slide"><img data-src="./images/swipe01.jpg" class="swiper-lazy"></li>
              <li class="swiper-slide"><img data-src="./images/swipe02.jpg" class="swiper-lazy"></li>
              <li class="swiper-slide"><img data-src="./images/swipe03.jpg" class="swiper-lazy"></li>
              <li class="swiper-slide"><img data-src="./images/swipe04.jpg" class="swiper-lazy"></li>
            </ul>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="product_text">
          <h3 class="title">Women's Sexy Spaghetti Strap White Hook Floral Sleeveless Dress</h3>
          <div class="sec_pri clearfix"><strong class="current_price">US$18.8</strong>
            <strike class="old_price">US$18.8</strike><span>30%off</span>
          </div>
          <div class="pro_review"><span class="ic_smallstar"><i><i></i></i><em>(99 Reviews)</em></span></div><span class="absolute_right wish_label"><i class="icon icon_wish_gray"></i><small>9999</small></span>
        </div>
        <div class="product_size">
          <dl class="dl_color">
            <dt>COLOR:</dt>
            <dd>
              <div class="select_box">
                <select class="field_default color">
                  <option value="">COLOR</option>
                  <option value="1">SIZE</option>
                  <option value="1">SIZE</option>
                  <option value="1">SIZE</option>
                  <option value="1">SIZE</option>
                  <option value="1">SIZE</option>
                </select><i class="arrow_down absolute_right"></i>
              </div>
            </dd>
          </dl>
          <dl class="dl_size">
            <dt>SIZE:</dt>
            <dd>
              <div class="select_box">
                <select class="field_default color">
                  <option value="">SIZE</option>
                  <option value="1">SIZE</option>
                  <option value="1">SIZE</option>
                  <option value="1">SIZE</option>
                  <option value="1">SIZE</option>
                </select><i class="arrow_down absolute_right"></i>
              </div>
            </dd>
          </dl>
          <dl class="dl_qty">
            <dt>QTY:</dt>
            <dd><span class="unavailable"><i class="icon icon_minus"></i></span>
              <input type="number" value="1"><span><i class="icon icon_plus"></i></span>
            </dd>
          </dl>
        </div>
        <div class="product_option">
          <div class="op_btns clearfixed"><a class="btn_lg btn_theme btn_block add_bag_btn">ADD TO BAG</a><a class="btn_lg btn_light btn_block add_wish_btn">ADD TO WISH</a>
          </div>
          <div class="op_share">
            <dl class="clearfix">
              <dt>Share :</dt>
              <dd>
                <ul>
                  <li class="i_fb"><a href=""></a></li>
                  <li class="i_tw"><a href=""></a></li>
                  <li class="i_pt"><a href=""></a></li>
                  <li class="i_tb"><a href=""></a></li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
        <div class="product_desc">
          <div class="title_tabs clearfix"><a class="detail col_6 pull_left active"><strong>Product Detail</strong><i class="arrow_down"></i></a><a class="chart col_6 pull_right"><strong>Size Chart</strong><i class="arrow_down"></i></a></div>
          <div class="desc_content_wrap">
            <div class="detail_content">
              - Sexy style0<br>
              - Sleeveless design<br>
              - Zip back top<br>
              - Transparent shoulder straps<br>
              - Regular fit<br>
              - Hand wash<br>
              - Main: 100% Polyester<br>
              - Package Included: 1 * Co-ord<br>
            </div>
            <div class="detail_content">
              - Sexy style1<br>
              - Sleeveless design<br>
              - Zip back top<br>
              - Transparent shoulder straps<br>
              - Regular fit<br>
              - Hand wash<br>
              - Main: 100% Polyester<br>
              - Package Included: 1 * Co-ord<br>
            </div>
          </div>
        </div>
        <div class="product_review">
          <div class="review_title">
            <h3>REVIEWS</h3><a class="icon icon_review absolute_right"></a>
          </div>
          <div class="review_wrap">
            <div class="review_row">
              <div class="row_top"><span class="circle avator"><img src="./images/person.svg"></span>
                <div class="text"><strong>Mery Christmas</strong><span><i></i></span></div><span class="date">Jul-10/2016 21:04:17</span>
              </div>
              <div class="row_content">
                <h4>My daughter love this coat!</h4>
                <p>The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely!</p>
              </div>
              <div class="helpful_txt">
                <div class="size_info">Normally worn size : US 6 |UK 10 |EU 38 | Fits as expected</div><a href="" class="yes active"> <i class="icon icon_thumb_gray"></i>(<em>0</em>)</a><a href="" class="no"> <i class="icon icon_thumb_down_gray"></i>(<em>0</em>)</a>
              </div>
            </div>
            <div class="review_row">
              <div class="row_top"><span class="circle avator"><img src="./images/person.svg"></span>
                <div class="text"><strong>Mery Christmas</strong><span><i></i></span></div><span class="date">Jul-10/2016 21:04:17</span>
              </div>
              <div class="row_content">
                <h4>My daughter love this coat!</h4>
                <p>The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely!</p>
              </div>
              <div class="helpful_txt">
                <div class="size_info">Normally worn size : US 6 |UK 10 |EU 38 | Fits as expected</div><a href="" class="yes active"> <i class="icon icon_thumb_gray"></i>(<em>0</em>)</a><a href="" class="no"> <i class="icon icon_thumb_down_gray"></i>(<em>0</em>)</a>
              </div>
            </div>
            <div class="review_row">
              <div class="row_top"><span class="circle avator"><img src="./images/person.svg"></span>
                <div class="text"><strong>Mery Christmas</strong><span><i></i></span></div><span class="date">Jul-10/2016 21:04:17</span>
              </div>
              <div class="row_content">
                <h4>My daughter love this coat!</h4>
                <p>The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely!</p>
              </div>
              <div class="helpful_txt">
                <div class="size_info">Normally worn size : US 6 |UK 10 |EU 38 | Fits as expected</div><a href="" class="yes active"> <i class="icon icon_thumb_gray"></i>(<em>0</em>)</a><a href="" class="no"> <i class="icon icon_thumb_down_gray"></i>(<em>0</em>)</a>
              </div>
            </div>
            <div class="review_row">
              <div class="row_top"><span class="circle avator"><img src="./images/person.svg"></span>
                <div class="text"><strong>Mery Christmas</strong><span><i></i></span></div><span class="date">Jul-10/2016 21:04:17</span>
              </div>
              <div class="row_content">
                <h4>My daughter love this coat!</h4>
                <p>The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely!</p>
              </div>
              <div class="helpful_txt">
                <div class="size_info">Normally worn size : US 6 |UK 10 |EU 38 | Fits as expected</div><a href="" class="yes active"> <i class="icon icon_thumb_gray"></i>(<em>0</em>)</a><a href="" class="no"> <i class="icon icon_thumb_down_gray"></i>(<em>0</em>)</a>
              </div>
            </div>
            <div class="review_row">
              <div class="row_top"><span class="circle avator"><img src="./images/person.svg"></span>
                <div class="text"><strong>Mery Christmas</strong><span><i></i></span></div><span class="date">Jul-10/2016 21:04:17</span>
              </div>
              <div class="row_content">
                <h4>My daughter love this coat!</h4>
                <p>The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely!</p>
              </div>
              <div class="helpful_txt">
                <div class="size_info">Normally worn size : US 6 |UK 10 |EU 38 | Fits as expected</div><a href="" class="yes active"> <i class="icon icon_thumb_gray"></i>(<em>0</em>)</a><a href="" class="no"> <i class="icon icon_thumb_down_gray"></i>(<em>0</em>)</a>
              </div>
            </div>
          </div>
          <div class="view_more"><a class="btn_plain">VIEW MORE</a></div>
        </div>
        <div class="product_similar">
          <div class="section border_bottom">
            <h3>Similar Product</h3>
          </div>
          <div class="collection_view">
            <ul>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
              <li class="col_4"><a href="/product.html">
                  <div class="img_box"><img data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif" class="img_responsive lazy"></div>
                  <div class="item_text">
                    <strike>US$18.8</strike><strong>US$18.8</strong>
                  </div><span class="discount_label">30%OFF</span></a><span class="absolute_right wish_label"><i class="icon icon_wish_empty"></i><small>9999</small></span></li>
            </ul>
          </div>
        </div>
        <div class="product_desc languages">
          <div class="title_tabs">
            <div class="detail col_6 pull_left"><strong>English(EN)</strong><i class="arrow_down"></i>
              <select class="field_hide">
                <option>1111</option>
                <option>1111</option>
                <option>1111</option>
              </select>
            </div>
            <div class="chart col_6 pull_right"><strong>USD US$</strong><i class="arrow_down"></i>
              <select class="field_hide">
                <option>1111</option>
                <option>1111</option>
                <option>1111</option>
              </select>
            </div>
          </div>
          <div class="desc_content_wrap">
            <div class="desc_content"></div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="common_currency">
          <select name="currency" class="field_default">
            <option value="AU$ AUD">AU$ AUD</option>
          </select><i class="arrow_down absolute_right"></i>
        </div>
        <div class="common_share">
          <h4>FIND US ON</h4>
          <div class="common_share_item"><span><a href="" class="facebook"></a></span><span><a href="" class="twitter"></a></span><span><a href="" class="instagram"></a></span><span><a href="" class="google"></a></span></div>
        </div>
        <h3>Shop with complete confidence</h3>
        <div class="foot_nt clearfix"><span class="img"><i></i></span>
          <ul>
            <li>Your order is safe and secure.</li>
            <li>Your satisfaction is 100% guaranteed.</li>
          </ul>
        </div>
        <div class="foot_nav_wrap">
          <div class="foot_nav clearfix"><a><i></i><span>Payment</span></a><a><i></i><span>Contact Us</span></a><a><i></i><span>Returns</span></a><a><i></i><span>International Deliveries</span></a><a><i></i><span>Order <br /> tracking</span></a><a><i></i><span>Terms &#38; Conditions</span></a></div>
        </div>
        <div class="common_foot_bottom">
          <div class="backtohome clearfix"><a href="Home">Home</a><a>Full Size</a></div>
        </div>
        <div class="pay_img"><img src="http://m.yoins.com/templates/default/images/visa.jpg"></div><span class="copyright">© Copyright Yoins TM 2016. All Rights Reserved</span>
      </div>
    </div>
    <script src="/static/vendors.js"></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>