.footer
	.common_currency
		select.field_default(name="currency")
			option(value="AU$ AUD") AU$ AUD
		i.arrow_down.absolute_right
	.common_share
		h4 FIND US ON
		.common_share_item
			span
				a.facebook(href="")
			span
				a.twitter(href="")
			span
				a.instagram(href="")
			span
				a.google(href="")
	h3 Shop with complete confidence
	.foot_nt.clearfix
		span.img
			i
		ul
			li Your order is safe and secure.
			li Your satisfaction is 100% guaranteed.
	.foot_nav_wrap
		.foot_nav.clearfix
			a
				i
				span Payment
			a
				i
				span Contact Us
			a
				i
				span Returns
			a
				i
				span International Deliveries
			a
				i
				span Order <br /> tracking
			a
				i
				span Terms &#38; Conditions
	.common_foot_bottom
		.backtohome.clearfix
			a(href="Home") Home
			a Full Size
	.pay_img
		img(src="http://m.yoins.com/templates/default/images/visa.jpg")
	span.copyright © Copyright Yoins TM 2016. All Rights Reserved