header.header
	nav
		a.nav_item.nav_item_1(href="javascript:void(0)")
			span.icon.icon_menu
		a.nav_item.nav_item_2(href="/person.html")
			span.icon.icon_person
		a.logo(href="/")
		a.nav_item.nav_item_3(href="/wish.html")
			span.icon.icon_wish
		a.nav_item.nav_item_4(href="/bag.html")
			span.icon.icon_bag
				small 99
		//- 文字按钮
		//- a.nav_item.nav_item_right Add Images

		//- 页面标题
		//- a.title Detail