.index_shipping_tips
	span
		b 10% OFF 
		| FOR THE FIRST ORDER
	em
	span.down
		i
		b FREE SHIPPING 
		| OVER $40
.banner_wrap
	.banner_left
		a
			img(src="http://imgwap.yoins.com/wap/banners/201607/126_1467713131_banner_preorder_906.png")
	.banner_right
		a.banner_right_top
			img(src="http://imgwap.yoins.com/wap/banners/201607/126_1467713081_banner_only_194.png")
		a.banner_right_bottom
			img(src="http://imgwap.yoins.com/wap/banners/201607/126_1467713100_banner_newIn_346.png")