.product_desc
	.title_tabs.clearfix
		a.detail.col_6.pull_left.active
			strong Product Detail
			i.arrow_down
		a.chart.col_6.pull_right
			strong Size Chart
			i.arrow_down
	.desc_content_wrap
		-for (var i = 0; i < 2; i++) 
			.detail_content.
				- Sexy style#{i}<br>
				- Sleeveless design<br>
				- Zip back top<br>
				- Transparent shoulder straps<br>
				- Regular fit<br>
				- Hand wash<br>
				- Main: 100% Polyester<br>
				- Package Included: 1 * Co-ord<br>