ul
	-for (var i=0;i<9;i++)
		li.col_4
			a(href="/product.html")
				.img_box
					img.img_responsive.lazy(data-original="http://imgwap.yoins.com/thumb/big/oaupload/yoins/images/8B/EE/f2b01d73-a9f5-e7e3-7387-31d48d457b13.jpg" src="../images/grey.gif")
				.item_text
					strike US$18.8
					strong US$18.8
				span.discount_label 30%OFF
			span.absolute_right.wish_label
				i.icon.icon_wish_empty
				small 9999