.product_text
	h3.title
		| Women's Sexy Spaghetti Strap White Hook Floral Sleeveless Dress
	.sec_pri.clearfix
		strong.current_price US$18.8
		strike.old_price US$18.8
		span 30%off
	.pro_review
		span.ic_smallstar
			i
				i
			em (99 Reviews)
	span.absolute_right.wish_label
		i.icon.icon_wish_gray
		small 9999