.product_desc.languages
	.title_tabs
		.detail.col_6.pull_left
			strong English(EN)
			i.arrow_down
			select.field_hide
				option 1111
				option 1111
				option 1111
		.chart.col_6.pull_right
			strong USD US$
			i.arrow_down
			select.field_hide
				option 1111
				option 1111
				option 1111
	.desc_content_wrap
		.desc_content