.review_row
	.row_top
		span.circle.avator
			img(src="./images/person.svg")
		.text
			strong Mery Christmas
			span
				i
		span.date Jul-10/2016 21:04:17
	.row_content
		h4 My daughter love this coat!
		p.
			The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely! The texture is comfortable and fits really nicely!
	.helpful_txt
		.size_info Normally worn size : US 6 |UK 10 |EU 38 | Fits as expected
		a.yes.active(href="") 
			i.icon.icon_thumb_gray
			| (<em>0</em>)
		a.no(href="") 
			i.icon.icon_thumb_down_gray
			| (<em>0</em>)